<!doctype html>
<html>
  <head>
    <meta charSet='utf-8' />
    <title>Scrivener</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap/bootstrap.css">
    <script src='https://cdn.rawgit.com/naptha/tesseract.js/1.0.10/dist/tesseract.js'></script>
    <script src="https://cdn.rawgit.com/oliver-moran/jimp/v0.2.27/browser/lib/jimp.min.js"></script>
  </head>
  <body>
    <h1>This is Scrivener</h1>
    <div id="header-wrapper"></div>
    <div id="scrivener"></div>
    <script src="<%- webpack_assets.bundle.js %>"></script>
  </body>
</html>
